<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185218377889-pkikbos697etu4o4teucorgalinekcnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185218377889-pkikbos697etu4o4teucorgalinekcnb</string>
	<key>API_KEY</key>
	<string>AIzaSyC9idfO7VawdM7DUzrjGrfNAHh4RL3gTgE</string>
	<key>GCM_SENDER_ID</key>
	<string>185218377889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driverStateDetection</string>
	<key>PROJECT_ID</key>
	<string>deep-learnin-9128c</string>
	<key>STORAGE_BUCKET</key>
	<string>deep-learnin-9128c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185218377889:ios:b0b61a7ffa09e9e224a8e0</string>
</dict>
</plist>